{# display messages and error messages at the top of pages #}
{% if messages %}
    <div class="row align-items-top justify-content-center text-center col-12 mt-4">
        <p class="message">
            <ul class="messageslist">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <li class="error" style="color: red;">
                            Erreur !!! : 
                    {% else %}
                        <li> 
                    {% endif %}
                    {{ user_created }} {{message}}</li>
                {% endfor %}
            </ul>
        </p>
    </div>
{% endif %}
{% if errors %}
    <p class="error">
        <ul class="errorslist">
            {% for error in errors %}
                {% if error|slice:"0:4" != 'Line' %}
                    <li  style="color: red;">{{error}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </p>
{% endif %}