{% comment %}
 Bootstrap modal dialog boxes
 Create and dialog classic + large ones
{% endcomment %}
<div class="modal fade show" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" aria-labelledby="modal" id="modal">
  <div class="modal-dialog ">
    <div class="modal-content"></div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" id="modal-large">
  <div class="modal-dialog mt-5 modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="modal fade show" id="create-modal-large" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog mt-5 modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>