{% load crispy_forms_tags %}
<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      <!--  <span aria-hidden="true">+</span> -->
    </button>
  </div>

  <div class="modal-body">
    {{ form|crispy }}    
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">{{button_title}}</button>
  </div>
</form>